[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/freelancer"]
	path = themes/freelancer
	url = https://github.com/digitalcraftsman/hugo-freelancer-theme.git
